{
  "hooks": {
    "pre-commit": "lint-staged",
    "pre-publish": "npm run lint",
    "commit-msg": "commitlint -x @commitlint/config-conventional -e $GIT_PARAMS"
  },
  "lint-staged": {
    "src/**/*.{vue}": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.{scss,css}": [
      "prettier --write",
      "git add"
    ]
  },
}